<h2>Books search<h2>
  <% if @model == "User" %>
  <h2>Users search for "<%= @content %>"</h2>
    <%= render 'users/index', users: @records %>
  <% elsif @model == 'book' %>
    <h2>Books search for "<%= @content %>"</h2>
    <%= render 'books/index', books: @records %>
  <% end %>
 